In [0]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'jsmazorra/JSON API Authorization/'

In [0]:
from google.cloud import bigquery
import time
import pandas as pd
import numpy as np

In [0]:
# Setup client
bq_client = bigquery.Client()

In [0]:
# GETS SQL QUERY FOR 100 USERS (14,000-14,000) FROM SORTED TABLE OF MOST COMMENTS
# WHERE TOTAL COMMENTS IS SLIGHTLY ABOVE 100

QUERY = '''
        SELECT E.*, C.comments_count
        FROM `bigquery-public-data.hacker_news.full` as E
        JOIN(
            SELECT *
            FROM(
                SELECT *
                FROM(
                    SELECT  `bigquery-public-data.hacker_news.full`.by, COUNT(*) as comments_count
                    FROM `bigquery-public-data.hacker_news.full`
                    GROUP BY `bigquery-public-data.hacker_news.full`.by
                )  
                ORDER BY comments_count DESC
                LIMIT 9500
            )
            ORDER BY comments_count 
            LIMIT 100            
        ) C 
        ON E.by = C.by
        '''

In [44]:
import time
start = time.time()
df = bq_client.query(QUERY).to_dataframe()
end = time.time()
print(end - start)

31.51998257637024

In [45]:
df.shape

(44699, 15)

In [46]:
users = df['by'].unique()
len(users)

100

In [47]:
df.head()

  title   url  ... deleted comments_count
0  None  None  ...    None            446
1  None  None  ...    None            446
2  None  None  ...    None            446
3  None  None  ...    None            446
4  None  None  ...    None            446

[5 rows x 15 columns]

In [0]:
# Drop unecessary columns
df_drop = df.drop(columns= ['score','title','url','deleted','dead','descendants','ranking'])

# Keep only comments in the dataframe
df_drop = df_drop[df_drop['type']=='comment']

# Drop empty comments 
df_drop = df_drop[(df_drop['text'] != '')&(df_drop['text'] != np.nan)]

# Fix weird text encodings
import html
df_drop['text']=df_drop['text'].apply(str)
df_drop['text'] = df_drop['text'].apply(lambda x: html.unescape(x))

# Remove html tags from string
import re
def remove_html_tags(text):
   clean = re.compile('<.*?>')
   return re.sub(clean, '', text)
df_drop['text'] = df_drop['text'].apply(lambda x: remove_html_tags(x))

# Convert unix time to datetime object with date
from datetime import datetime
df_drop['time']=pd.to_datetime(df_drop['time'],unit='s') # for accuracy secs

In [49]:
# Check only analyzing comments
df_drop['type'].value_counts()

comment    39064
Name: type, dtype: int64

In [50]:
users = df_drop['by'].unique()
print(len(users))

99

In [51]:
df_drop.head()

                                                text  ... comments_count
0  This guy is doing good work, and I fear for hi...  ...            446
1  I think I've shown your original contention is...  ...            446
2  > Your end goal might be laudable, but the pat...  ...            446
3  > How do you move to Nebraska when you have $1...  ...            446
4  Is inciting people to violence really anything...  ...            446

[5 rows x 8 columns]

In [19]:
pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/76/fc/310e16254683c1ed35eeb97386986d6c00bc29df17ce280aed64d55537e9/vaderSentiment-3.3.2-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 2.8MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2.9)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [0]:
# Populate sentiment analysis columns in dataframe
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

In [0]:
df_drop['neg']=np.zeros(df_drop.shape[0])
df_drop['pos']=np.zeros(df_drop.shape[0])
df_drop['neu']=np.zeros(df_drop.shape[0])

In [54]:
now=time.time()
df_drop['neg'] = df_drop['text'].apply(lambda x: sia.polarity_scores(x)['neg'])
df_drop['pos'] = df_drop['text'].apply(lambda x: sia.polarity_scores(x)['pos'])
df_drop['neu'] = df_drop['text'].apply(lambda x: sia.polarity_scores(x)['neu'])
print('sentiment cal took:',round(time.time()-now,2),'s')

sentiment cal took: 80.61 s

In [55]:
df_drop.head()

                                                text  by  ...    pos    neu
0  This guy is doing good work, and I fear for hi...  b6  ...  0.318  0.503
1  I think I've shown your original contention is...  b6  ...  0.084  0.803
2  > Your end goal might be laudable, but the pat...  b6  ...  0.156  0.844
3  > How do you move to Nebraska when you have $1...  b6  ...  0.144  0.727
4  Is inciting people to violence really anything...  b6  ...  0.107  0.731

[5 rows x 11 columns]

In [56]:
df_final = pd.DataFrame(data=None, columns=df_drop.columns)
df_user_most_pos = pd.DataFrame(data=None, columns=df_drop.columns)
df_user_most_neg = pd.DataFrame(data=None, columns=df_drop.columns)

for user in users:
    # Create a dataframe of only one user
    df_user = df_drop[df_drop['by'] == user]
    
    # Remove pure sentiments (removes pure one-word comments)
    df_user_unpure = df_user[(df_user['neg'] !=1) & (df_user['pos'] !=1)]
    
    # Submit first 100 comments of the unpure sentiments to final dataframe
    df_final = df_final.append(df_user_unpure[:100])
    
    # Submit max unpure neg/pos comment per user into dataframe
    df_temp = df_final[df_final['by'] == user]
    ix_neg = df_temp['neg'].idxmax(axis=0)
    df_user_most_neg = df_user_most_neg.append(df_temp.loc[ix_neg])
    ix_pos = df_temp['pos'].idxmax(axis=0)
    df_user_most_pos = df_user_most_pos.append(df_temp.loc[ix_pos])
    
df_final.shape

(9679, 11)

In [57]:
users = df_drop['by'].unique()
len(users)

99

In [58]:
df_final.head(10)

                                                text  by  ...    pos    neu
0  This guy is doing good work, and I fear for hi...  b6  ...  0.318  0.503
1  I think I've shown your original contention is...  b6  ...  0.084  0.803
2  > Your end goal might be laudable, but the pat...  b6  ...  0.156  0.844
3  > How do you move to Nebraska when you have $1...  b6  ...  0.144  0.727
4  Is inciting people to violence really anything...  b6  ...  0.107  0.731
5  Well said. I'm an American in China, and I fin...  b6  ...  0.136  0.770
6  Awesome! This is excellent.hlint really helped...  b6  ...  0.225  0.696
7  Is the article a bit strange? They say Liu Zhi...  b6  ...  0.090  0.845
8  I don't think the problem is that we're too st...  b6  ...  0.110  0.729
9          I don't know. How do I find out for sure?  b6  ...  0.204  0.796

[10 rows x 11 columns]

In [59]:
# Random comments from the 100 users
df_random100 = df_final.sample(100)
df_random100.head(10)

                                                    text  ...    neu
44266  Yep. I was stuck in that rut for years. But th...  ...  0.802
34448  I like the name, this sounds similar to (or in...  ...  0.933
41597  > I may have a 7/11 near me which doesn’t even...  ...  0.757
25048  Basically, yes. Classical stoicism applied to ...  ...  0.810
30442  Wasn't this raised a year or so ago? Vehement ...  ...  0.826
4561   600usd is a bit steep- no disrespect to the de...  ...  0.794
34499  Transcript:\nhttps://www.thisamericanlife.org/...  ...  1.000
19224  Going to shamelessly post a Wireshark tutorial...  ...  0.718
41213  > (not that the evidence is terribly substanti...  ...  0.793
34040  If people are really worried, they shouldn't b...  ...  0.842

[10 rows x 11 columns]

In [60]:
# Most negative comments
df_neg100 = df_final.sort_values(['neg'],ascending=False)[:100]
df_neg100.head(20)

                                                    text  ...    neu
24655                        Bad: http://www.arngren.net  ...  0.222
36238                                       April Fools?  ...  0.238
15265                                 Unidentified fakes  ...  0.263
24640                                  Boycotting Cisco.  ...  0.270
16160                        Why are gun companies evil?  ...  0.306
19319  https://puu.sh/rikNL/c0ecb8bcff.pngoutlook unc...  ...  0.333
30435                              Yikes, how horrifying  ...  0.351
21993                                   Very sad indeed.  ...  0.371
30402                          Australia's darkest hour.  ...  0.385
43436                                        Bad joke...  ...  0.000
32299                     Software Developers HATE This!  ...  0.388
33613           Some MRA bullshit up in here. Sickening.  ...  0.410
22004    It is very sad that we destroy the planet... :(  ...  0.417
15783                       Most countries are assholes.  ...  0.425
1883   dupe : https://news.ycombinator.com/item?id=12...  ...  0.444
41615      You missed one!https://github.com/winjs/winjs  ...  0.445
42018  Read the "being poor" article.Conclusion: I'm ...  ...  0.446
40268  Which critical infrastructure cannot be profit...  ...  0.459
40284                                Not OP, but thanks!  ...  0.469
4156                                    No pun intended?  ...  0.476

[20 rows x 11 columns]

In [63]:
# Most positive comments
df_pos100 = df_final.sort_values(['pos'],ascending=False)[:100]
df_pos100.head(20)

                                             text              by  ...    pos    neu
6288                         Thanks :) I agree ;)           kentf  ...  0.912  0.088
6451                          haha wow... so true           kentf  ...  0.908  0.092
6270               Beautiful, thanks for sharing.           kentf  ...  0.906  0.094
25998                            glad to help! :)        zbruhnke  ...  0.900  0.100
39882                         brilliant, love it.    dalek2point3  ...  0.889  0.111
24677                        Thanks! Very useful.        roschdal  ...  0.865  0.135
43360                       That's pretty cool...  mbenjaminsmith  ...  0.846  0.154
15246                  Congrats and best of luck!         bobsil1  ...  0.845  0.155
9908                          Interesting = value          jpcx01  ...  0.836  0.164
6273                                   Brian FTW!           kentf  ...  0.801  0.199
6469                                Amazing film.           kentf  ...  0.792  0.208
19277             please laugh i'm trying my best         rosstex  ...  0.771  0.229
6379                Thanks Charlie! It was fun :)           kentf  ...  0.760  0.240
4475   This is super cool, thank you for sharing!           fxfan  ...  0.747  0.253
4986          Good for creating a positive brand.           j_col  ...  0.744  0.256
1849                Fantastic project. Well done.            alva  ...  0.740  0.260
3202                     Good work - thank you :)           cjsuk  ...  0.737  0.263
19235                                  Thank you!         rosstex  ...  0.736  0.264
8938                                   Thank you!          ihodes  ...  0.736  0.264
18765                                  Thank you!         owenwil  ...  0.736  0.264

[20 rows x 11 columns]

In [64]:
# Most single negative comment for each user
df_user_most_neg.head(10)

                                                   text     by  ...    pos    neu
47    The Chinese government would no more commit wi...     b6  ...  0.000  0.522
505   Thanks, wiki continues to provide detailed inf...    brg  ...  0.116  0.578
907   But I doubt the vast majority of Farmville and...    hop  ...  0.000  0.596
1381            Are assault rifles licensed separately?   3825  ...  0.000  0.513
1883  dupe : https://news.ycombinator.com/item?id=12...   alva  ...  0.000  0.444
2270  I think one thing to consider is the attacker'...  Dwolb  ...  0.000  0.690
2788                            This is clearly insane.  anm89  ...  0.365  0.270
3140  Indeed. Assholes we need. But we got the freed...  cjsuk  ...  0.000  0.522
3652  > Basically any system which prosecutes crime ...  davej  ...  0.030  0.592
4156                                   No pun intended?  fezzl  ...  0.000  0.476

[10 rows x 11 columns]

In [65]:
# Most single positive comment for each user
df_user_most_pos.head(10)

                                                   text     by  ...    pos    neu
36                          Please be very careful. <3.     b6  ...  0.583  0.417
472   If you enjoyed those lectures, the EconTalk co...    brg  ...  0.345  0.655
902   Thanks for posting this, support has been over...    hop  ...  0.501  0.499
1375  I would not worry too much about people miscon...   3825  ...  0.373  0.627
1849                      Fantastic project. Well done.   alva  ...  0.740  0.260
2298  Cool that you agree. Are your projects structu...  Dwolb  ...  0.407  0.593
2765                      This is an excellent analogy.  anm89  ...  0.481  0.519
3202                           Good work - thank you :)  cjsuk  ...  0.737  0.263
3671  "Excellence Has Become a Habit"… nice snippet ...  davej  ...  0.463  0.537
4159                                Facebook certainly.  fezzl  ...  0.706  0.294

[10 rows x 11 columns]